/* Nav Bar */

#navBar {
  border-bottom: 3px solid;
  padding-bottom: .5em;
}

#logo {
  background-color: navy;
  color: white;
  border-radius: 100%;
  display: inline-block;
}

#options {
  display: inline-block;
  width: 75%;
  text-align: center;
}

#userInput {
  width: 55%;
}

#buttons {
  display: inline-block;
}

/* Message Area */

#msgArea {
  border: 2px solid;
  min-height: 400px;
  min-width: 60%;
  margin: 20px;
}

/*========================*/
/* Leave these classes at the bottom of the cascade */

/* Dark theme */

.dark {
  background: #000;
  color: #fff;
  border-color: #fff;
}

/* Large theme */

.large {
  font-size: 1.5em;
}
