
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/* Wrapper */

.wrapper {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* Nav Bar */

.navBar {
  box-shadow: 0px 2px 2px rgba(0,0,0,.2);
  padding-bottom: .5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #2589BD;
}

.logo {
  background-color: #F1F3E3;
  color: white;
  border-radius: 100%;
  display: inline-block;
  height: 120px;
  width: 120px;
  text-align: center;
  position: relative;
  margin: 20px;
}

h1 {
  font-weight: 600;
  margin: 0;
  position: absolute;
  top: 35px;
  left: 5px;
  color: #2589BD;
  font-size: 2rem;
}

#options {
  display: inline-block;
  width: 60%;
  margin: 20px 60px;
  position: absolute;
  top: 20px;
  color: #F1F3E3;
}

.checkboxes {
  display: inline-block;
}

label {
  margin: 10px;
  display: inline-block
}

input[type="checkbox"] {
  margin-right: 5px;
}

#userInput {
  width: 65%;
}

#buttons {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 100px;
}

#options button,
#buttons button {
  width: 150px;
  margin: 20px 0;
}

#buttons button {
  display: block;
}

/* Message Area */

.main-content {
  padding: 200px 0 100px;
  background: #F1F3E3;
}

h2 {
  margin: 20px;
  font-weight: 600;
  color: #2589BD;
}

.msgArea {
  min-height: 400px;
  min-width: 60%;
  margin: 20px;
  padding: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.8);
  background: #fff;
}

.message {
  background: #F1F3E3;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  border-radius: 3px;
}

.timeStamp {
  display: block;
}

.msgArea button {
  font-size: .8em;
}

p {
  width: 50%;
}

.delete {
  float: right;
}

/*========================*/
/* Leave these classes at the bottom of the cascade */

/* Dark theme */

.dark-bg {
  background: #4B5989;
}

.dark-h-bg {
  background: #ACE3B3;
}

.dark-text {
  color: #4B5989;
}

.dark-h-text {
  color: #ACE3B3;
}

.dark-msg-area {
  background: #757A7F;
  color: #fff;
}

/* Large theme */

.large {
  font-size: 1.3em;
}
